body{
    background-color: red;
}

div{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: blue;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%  {background-color: blue; left: 100px;}
    30% {background-color: orange; left: 1800px; top:200px;}
    40% {background-color: green; left: 200px; top:300px;}
    70% {background-color: yellow; left: 0px; top:700px;}
    88% {background-color: red; left: 00px; top:0px;}
    100%{background-color: blue;}
}
